.more-featured-movies {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.movies-section-grid {

}

.banner-details {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 5em;
}

.type-fav {
    width: inherit;
    height: 350px;
    display: flex;
    text-align: right;
    justify-content: space-between;
    padding: 1em;
}

.type-fav small {
    font-size: .7rem;
    font-weight: 600;
    background-color: #F3F4F6;
    padding: .5em .9em;
    border-radius: 12px;
    height: fit-content;
}

.type-fav .fav-icon {
    color: white;
    background-color: #F3F4F6;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;

}

.fav-icon:hover {
    background-color: #f5d2d2;
    color: #fe6d6d;
}

.country-year, .movie-genre {
    font-size: .7rem;
}

.country-year {
    margin-top: .7em;
}

h3.movie-name {
    margin-top: .5em;
}

.imdb-rating {
    margin-top: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imdb-rating span {
    font-size: .8rem;
}

.logo-rate {
    display: flex;
    align-items: center;
    gap: .6em;
}

.logo-rate img {
    width: 35px;
}

.percentage-tomato {
    display: flex;
    align-items: center;
    gap: .6em;
}

.percentage-tomato img {
    width: 15px;
}

.movie-genre {
    margin-top: .7em;
}

.movies-section-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: space-between;
}