.search-result {
    color: black !important;
    padding-top: 1em;
}

.search-result .result-content {
    padding: 2em 6em;
}

.search-result .result-content .result-grid {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: space-between;
}

/**
adult
: 
false
backdrop_path
: 
"/3tzPSJiCPqacAgRsMkMPof2ZinL.jpg"
belongs_to_collection
: 
{id: 1162328, name: 'Talk to Me Collection', poster_path: null, backdrop_path: '/brtSrbFFfYB9liimgRzBb0JHaaz.jpg'}
budget
: 
4500000
genres
: 
(2) [{…}, {…}]
homepage
: 
"https://umbrellaent.com.au/movie/talk-to-me"
id
: 
1008042
imdb_id
: 
"tt10638522"
original_language
: 
"en"
original_title
: 
"Talk to Me"
overview
: 
"When a group of friends discover how to conjure spirits using an embalmed hand, they become hooked on the new thrill, until one of them goes too far and unleashes terrifying supernatural forces."
popularity
: 
2685.799
poster_path
: 
"/kdPMUMJzyYAc4roD52qavX0nLIC.jpg"
production_companies
: 
(6) [{…}, {…}, {…}, {…}, {…}, {…}]
production_countries
: 
(2) [{…}, {…}]
release_date
: 
"2023-07-26"
revenue
: 
67414437
runtime
: 
95
spoken_languages
: 
(3) [{…}, {…}, {…}]
status
: 
"Released"
tagline
: 
"You call. They'll answer."
title
: 
"Talk to Me"
video
: 
false
vote_average
: 
7.193
vote_count
: 
467
**/